@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

* {
    --font-color: #A8856F;
    --option-bg-color: #D3D3D3;
}

* {
    font-family: "Jura", sans-serif;
}

body {
    margin: 10% auto;
    
    width: 360px;
    height: 900px;
}

main#main {
    position: relative;

    width: 400px;
    height: 800px;

    background-image: url(./images/formBGImage.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top;
    background-size: auto;
}

section#options {
    position: absolute;
    bottom: 0;
    height: 55%;
    width: 100%;
    padding-top: 20%;

    border-radius: 46px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    font-size: 1.2rem;

    background-color: var(--option-bg-color);
}

#options #profilePhoto {
    width: 112px;
    height: 112px;
    
    padding: 10px;
    
    background-color: white;
    border-radius: 100%;
}

section#options h1 {
    color: var(--font-color);
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 25%);
}

section#options button#order {
    display: flex;
    align-items: center;
    
    border: none;
    border-radius: 8px;
    
    padding: 12px 113px;

    font-size: 24px;
    
    width: 347px;
    height: 60px;

    background-color: rgb(204, 182, 159);
    color: white;
}

section#options button#order a {
    text-decoration: none;
    color: white;
}

section#options button#dismiss {
    border: none;

    font-size: 24px;

    background-color: var(--option-bg-color);
}

section#options button#dismiss a {
    text-decoration: none;
    color: black;
}
